$font-main: roboto, sans-serif;
$font-secondary: arial, helvetica, sans-serif;

body {
    color: black;
}

.upper-nav {
    background-color: red;
    * {
        color: white;
    }
    img {
        width: 27%;
    }
}

footer {
    position: relative;
    bottom: 0;
}

.logo {
    width: 100%;
}

.subscribebutton {
    border-radius: 30%;
    background-color: #FFE400;
    color: black;
}

.footer-links {
    a {
        width: 40%;
    }
}

i {
    color: grey;
}

.nav-link {
    border-right: 1px  rgba(153, 150, 150, 0.301) solid;
}