$font-main: roboto, sans-serif;
$font-secondary: arial, helvetica, sans-serif;
$icons: 27px;

body {
    color: black;
}

.icons {
    font-size: $icons;
}

.upper-nav {
    background-color: red;
    * {
        color: white;
    }
    img {
        width: 27%;
    }
}

footer {
    position: relative;
    bottom: 0;
}

#footerTitle {
    fill: red;
    height: 100%;
    width: 100%;
}

.logo {
    width: 100%;
}

.subscribebutton {
    font-weight: bold;
    color: black;
    border-radius: 20px;
}

.middleNavLinks,
.footerNavLinks {
    color: #000;
    font-weight: bolder;
}

.footerNavLinks {
    font-weight: normal;
}
.middleNavLinks:hover,
.footerNavLinks :hover {
    color: red;
}

.lowerLinks {
    color: #666;
}

#lowerLinks1 {
    color: black;
}

.footer-links {
    a {
        width: 40%;
    }
}

i {
    color: grey;
}

.nav-link {
    border-right: 1px  rgba(153, 150, 150, 0.301) solid;
}

#newsTitle {
    font-family: $font-main;
    fill: white;
}
#newsTitle2 {
    font-family: $font-main;
    fill: white;
    height: 100px;
    width: 150px;
    padding: 0;
}